---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Noticias</h1>
<div class="list-of-news">
  <div class="new-preview">
  <a href= "/new">
  </a>
    <div class="new-picture"/></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet condimentum elit. Curabitur aliquet tortor nec nisi ultricies, sed sagittis tellus scelerisque.
    </div>
  </div>
  <div class="list-of-news">
  <div class="new-preview">
    <div class="new-picture"/></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet condimentum elit. Curabitur aliquet tortor nec nisi ultricies, sed sagittis tellus scelerisque.
    </div>
  </div>
  <div class="list-of-news">
  <div class="new-preview">
    <div class="new-picture"/></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet condimentum elit. Curabitur aliquet tortor nec nisi ultricies, sed sagittis tellus scelerisque.
    </div>
  </div>
  <div class="list-of-news">
  <div class="new-preview">
    <div class="new-picture"/></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet condimentum elit. Curabitur aliquet tortor nec nisi ultricies, sed sagittis tellus scelerisque.
    </div>
  </div>
  <div class="list-of-news">
  <div class="new-preview">
    <div class="new-picture"/></div>
    <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet condimentum elit. Curabitur aliquet tortor nec nisi ultricies, sed sagittis tellus scelerisque.
    </div>
  </div>
</BaseLayout>